services:
  db:
    image: postgres:17-alpine
    container_name: authy-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: authy_development
    ports:
      - "6001:5432"
    volumes:
      - authy_pg_data:/var/lib/postgresql/data

volumes:
  authy_pg_data:
